extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="https://jsososo.github.io/QQMusicApi") 查看文档
  p 可以戳戳下面的链接看看
  span 1、
  a(href="http://api.qq.jsososo.com/search?key=周杰伦") 搜索接口
  br
  span 2、
  a(href="http://api.qq.jsososo.com/recommend/playlist") 获取推荐歌单
  br
  span 3、
  a(href="http://api.qq.jsososo.com/lyric?songmid=0039MnYb0qxYhV") 获取歌词
